<form id="form" action="" method="POST">

  <div class="form-container">
    <label for="name">Nombre</label>
    <input type="text" id="name" aria-describedby="name" placeholder="Ingrese su nombre">
    <small id="elementName"></small>
  </div>

  <div class="form-container">
    <label for="last-name">Apellido</label>
    <input type="text" id="last-name" aria-describedby="last-name" placeholder="Ingrese su apellido">
    <small id="elementLastName"></small>
  </div>

  <div class="form-container">
    <label for="phone">Telefono</label>
    <input type="number" id="phone" aria-describedby="phone" placeholder="Ingrese su número de telefono">
    <small id="elementPhone"></small>
  </div>

  <div class="form-container">
    <label for="email">Email</label>
    <input type="email" id="email" aria-describedby="email"
      placeholder="Ingrese su correo electrónico">
    <small id="elementEmail"></small>
  </div>

  <button class="submit" type="submit" id="submit">Enviar</button>
  <small id="elementForm"></small>
  <a href="/user/list" id="redirection"></a>
</form>